body{
  font-family: "open sans", sans-serif;
  font-size: 12px;
  background: #D2D2D2;
}
.pure-g{
  letter-spacing: 1px;
  max-width: 700px;
  margin: 40px auto;
}
.pure-form{

  border-radius: 4px;
}
ul#taskList{
  margin:0;
  padding: 0;
}
  label.formTitle{
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 5px;
    display: none;
  }
  .pure-form input,
  .pure-form input[type="text"]{
    padding: 15px;
    width: 100%;
    border: 1px solid #485E86;
  }
  input[type="submit"]{
    width: 100%;
    background: #6681B2;
    border-radius: 2px;
    color: white;
    border: 1px solid #485E86;
  }
  input[type="submit"]:focus{
    background: #6681B2;
    border-radius: 2px;
    color: white;
    border: 1px solid #485E86;
  }

.task{
  vertical-align: middle;
  position:relative;
  list-style:none;
  margin: 0 0 10px 0;
  background: #3F4045;
  color: white;
  padding: 20px;
  font-size: 16px;
  font-weight: 200;
  border-radius: 4px;
  transition: all .2s;
}
#taskNothing{
  background: #485E86;
  color: white;
  font-size: 12px;
  margin: -15px 0 0 0;
  z-index: -1;
  padding: 22px 20px 20px 20px;
}
.task p{
  display: inline-block;
  margin: 0;
  font-size: 12px;
  letter-spacing: 1px;
}
.task p:first-letter{
  text-transform: capitalize;
}
.task.completed{
  background: #eee;
}
.task.completed p{
  text-decoration: line-through;
  color: #8C8C8C;
}
.button{
  display: inline-block;
  vertical-align: middle;
  font-size: 11px;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 2px;
  cursor: pointer;
  background: #333;
  float: right;
  margin: -3px -5px 0 15px;
  transition: all .2s;
}
.task:hover .button{
  margin:-3px -5px 0 20px;
}
.undo{
  background: #B6B6B6;
}

.button:after{
  transition: all .2s;
  width: 0;
  display: inline-block;

  visibility: hidden;
  margin-left: 8px;
  display: none;
}
.task:hover .delete{
  background: #C36363;
}
.task:hover .delete:hover{
  background: #A65353;
}
.task:hover .complete{
  background: #7DB07C;

}
.task:hover .complete:hover{
  background: #6C9D6B;
}
.task:hover .undo:hover{
  background:#A6A6A6;
}
.task:hover .button:after{
  visibility: visible;
  width: auto;
  display: inline-block;
  transition: all .2s;
}
.delete:after{
content: "delete";
}
.complete:after{
  content: "completed";
}
.undo:after{
  content:"undo";
}

